body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#react li{
	cursor: pointer;
}

.book{
	border-radius: 10px;
	height: 320px;
	margin: -5px;
}

img{
	margin: auto auto;
}

button{
	margin-top: 10px;
}